// COLORS
:root {
  --color-black: #000;
  --color-white: #fff;
}
$ff: 'Lato', sans-serif;
$fzsubtitle: 42px;
$mw: 1201px;
$black: #000;
$whitecolor: #fff;
$sharkcolor: #26272d;
$oslograycolor: #8c8f94;
$athensraycolor: #f5f5f8;
$dodgerblue: #267df4;
$shark: #26292c;